@import 'reset.scss';

#main {
    h1 {
        font-family: 'Abril Fatface', sans-serif;
        text-align: center;
        margin-top: 2vh;
    }
    #image-index {
        display: flex;
        flex-direction: column;
        section {
            margin: auto;
            margin-top: 2vh;
            img{
                height: 15vw;
            }
        }
            
    }
}